.carousel__btn {
	border: none;
	outline: none;
	width: 50%;
	height: 5.5vw;
	max-height: 80px;
	max-width: 80px;
	min-height: 60px;
	min-width: 60px;
	background-color: black;
	transition: 0.5s all ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $secondaryClr;
	}
}

.carousel__button-open {
	border: none;
	outline: none;
	background-color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 10px;
	cursor: pointer;
	transition: 0.5s all ease-in-out;

	&:hover {
		color: $primaryClr;
		svg {
			path {
				fill: $primaryClr;
			}
		}
	}

	svg {
		margin-left: 16px;
		path {
			transition: 0.5s all ease-in-out;
		}
	}
}
